{% extends 'base.html' %}
{% load static %}
{% load form_utils %}
{% block content %}
    <div id="top" class="row">
        <div class="col-sm-3">
            <h2> Musicas</h2>
        </div>
        <div class="col-sm-6">


        </div>
        <div class="col-sm-3">
            <a href="{{ create_object_reversed_url }}"
               class="btn btn-primary pull-right h2"><i
                    class="fa fa-plus"></i> Adicionar Musicas
            </a>
        </div>
    </div> <!-- /#top -->
    <hr/>
    <div id="list" class="row">
        <div class="col-xs-12">
            <table id="table" class="table table-striped" cellspacing="0"
                   cellpadding="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Musica</th>
                    <th>Bpm</th>
                    <th>Tom Original</th>
                    <th>Tom Banda</th>
                    <th class="actions">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for music in musics %}
                    <tr>
                        <td>{{ music.id }}</td>
                        <td> <a href="{% url detail_url_name music.pk %}"> {{ music.title }}</a></td>
                        <td>{{ music.bpm }}</td>
                       <td>
                            <span class="label label-success">{{ music.original_tone }}</span>
                        </td>
                        <td>
                            <span class="label label-warning">{{ music.band_tone }}</span>
                        </td>
                        <td class="actions">
                            <a href="{% url detail_url_name music.pk %}"> <i
                                    class="fa fa-eye"></i></a>
                            <a href="{% url delete_url_name music.pk %}"> <i
                                    class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


    </div> <!-- /#list -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#model').addClass('active');
            $('#model-list').addClass('active');
            $('#table').DataTable({
                responsive: true,
                order: [[0, "desc"]],
                "language": {
                    "lengthMenu": "Exibir _MENU_ registros por página",
                    "zeroRecords": "Nenhum item encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "emptyTable": "Sem dados disponíveis na tabela",
                    "infoFiltered": "(filtrado do total de _MAX_ registros)",
                    "thousands": ".",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "search": "Buscar:",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Próximo",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ativar para classificar a coluna ascendente",
                        "sortDescending": ": ativar para classificar a coluna descendente"
                    }
                }
            });

            tour = new Tour({
                name: 'model_list',
                backdrop: true,
                template: "<div class='popover tour'><div class='arrow'></div><h3 class='popover-title'></h3><div class='popover-content'></div><div class='popover-navigation'><button class='btn btn-default' data-role='prev'>« Anterior</button><span data-role='separator'>|</span><button id='prox' class='btn btn-default' data-role='next'>Próximo »</button><button id='fim' class='btn btn-default hidden' data-role='end'>Finalizar</button> </div></div>",
                steps: [
                    {
                        element: "#table_filter",
                        title: "Busca",
                        placement: "left",
                        content: "Utilize este campo de busca para procurar por algum cliente específico.",
                        onShow: function (tour) {
                            var timeOut = setTimeout(function () {
                                $('#fim').removeClass('hidden');
                                $('#prox').addClass('hidden');
                                timeOut = setTimeout(function () {
                                    $('#fim').removeClass('hidden');
                                    clearTimeout(timeOut);
                                }, 500);
                            }, 500);

                        }
                    }

                ]
            });

        });
    </script>

{% endblock %}
